.git
vendor
node_modules
.env
.env.*
!.env.example
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.phpunit.result.cache
homestead
auth.json
