includes:
  - ./vendor/larastan/larastan/extension.neon

parameters:
  level: 6
  paths:
    - app
  excludePaths:
    - bootstrap/cache/*
  treatPhpDocTypesAsCertain: false
  disableMigrationScan: true
  parseModelCastsMethod: true
